@import-normalize;
@import '../styles/mixins.scss';

/// CSS RESET
* {
	margin: 0;
	padding: 0;
}

/// GLOBAL STYLES
body {
	font-family: var(--font-family);

	.container {
		display: grid;
		grid-template-areas: 'header' 'main' 'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		height: 100vh;
		padding: 0.5rem;

		@include sm-min {
			padding: 1rem;
		}

		& > header {
			grid-area: header;
		}

		& > main {
			display: grid;
			grid-area: main;
			overflow: auto;

			& section {
				overflow: hidden;
				padding-block: 15px;
			}
		}

		& > footer {
			grid-area: footer;
		}
	}
}

/// PRIME REACT OVERRIDES
.p-button:has(svg) {
	font-size: 1.5rem;
	padding: 0.25rem;
}

.p-datatable-header > div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.p-inputtext,
.p-inputwrapper {
	width: 100%;
}

/// UTILITIES

.sr-only {
	border-width: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
