body {
	font-family: var(--font-family);
	margin: 0;

	#root {
		display: grid;
		grid-template-areas: 'header' 'main' 'footer';
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		height: 100vh;
		padding: 15px;

		& > header {
			grid-area: header;
		}

		& > main {
			grid-area: main;
			overflow: auto;

			display: grid;
			grid-template-areas: 'button' 'table';
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;

			& section {
				padding-block: 15px;
			}
		}

		& > footer {
			grid-area: footer;
		}
	}
}
